*{
  margin: 0;
}
h1, a {
  font-size: 40px;
}
section {
  min-height: 100vh;
  background-color: blueviolet;
  
  text-align: center;
  padding: 80px;
}
a {
  text-decoration: none;
  color: white;
}
#section_cible {
  background-color: rgb(173, 173, 173);
}